body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
.container-1 {
    background-color: #1f2937;
}
.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 15%;
    padding-right: 15%;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;

}

a {
    display: flex;
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.hero{
    padding-top: 48px;
    padding-bottom: 72px;
    margin: 0px;

    display: flex;
    gap: 48px;
}

.title {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin: 0px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15%;
    flex: 50%;
}
.right {
    padding-right: 15%;
    flex: 50%;

}
.sec-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
}
.b-size {
    display: flex;
    margin: 0px;

}
h1 {
    padding: 0px;
    margin: 0px;
}
.sign-up {
    display: flex;
    color: #f9faf8;
    background-color: #3882f6;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;
}

.idk {
    display: flex;
    justify-content: left;
}
.image {
    color: #e5e7eb;
    background-color: #595e66;
    max-height: 20%;
    min-height: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;

    justify-self: center;
    flex: 1;

}
/* end of section 1 */

.container-2{
    display: flex;
    flex-direction: column;
}
.title-2{
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    padding-top: 36px;
    padding-bottom: 36px;
}

.squares{
    display: flex;
    gap: 48px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
}

.square{
    /* display: flex; */
    padding: 100px;
    padding-left: 0px;
    border: #3882f6 solid;
    border-radius: 16px;
    
}
.text-desc{
    text-align: center;
    color: #595e66;
}